<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Citas</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .navbar {
            background-color: #007bff; 
        }
        .navbar-brand, .nav-link {
            color: white !important;
        }
        .table {
            background-color: #e9f7fa; 
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">Gestión Médica</a>
            <div class="collapse navbar-collapse justify-content-center">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('pacientes_principal') }}">Pacientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('medicos_principal') }}">Médicos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('citas_principal') }}">Citas</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('historial_principal') }}">Historial Medico</a>
                    </li>



                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <h1>Lista de Citas</h1>
        <a href="{{ url_for('crear_cita') }}" class="btn btn-outline-primary">Agregar Nueva Cita</a>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>ID Paciente</th>
                    <th>ID Médico</th>
                    <th>Fecha de Cita</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for cita in citas %}
                <tr>
                    <td>{{ cita.id }}</td>
                    <td>{{ cita.paciente_id }}</td>
                    <td>{{ cita.medico_id }}</td>
                    <td>{{ cita.fecha_cita }}</td>
                    <td>{{ cita.estado }}</td>
                    <td>
                        <a href="{{ url_for('editar_cita', id=cita.id) }}" class="btn btn-outline-warning btn-sm">Editar</a>
                        <a href="{{ url_for('eliminar_cita', id=cita.id) }}" class="btn btn-outline-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>